<script setup lang="ts">
import axios from 'axios';
import { ref } from 'vue';
const resMessage = ref<number>()
const fishData = ref({
  Species : -1,
  Length1 : 0.0,
  Length2 : 0.0,
  Length3 : 0.0,
  Height : 0.0,
  Width : 0.0
})

const predictFishWeight = async () => {
  try {
    const response = await axios.post('http://localhost:8000/fish/predict/', fishData.value);
    console.log("Predicted fish weight: ",response.data)
    
    resMessage.value = response.data; // เข้าถึงค่า Weight ใน response.data
  } catch (error) {
    
    console.error('Error predicting fish weight:', error);
  }
}
</script>

<template>
  <div class="container">
    <h1>Fish Weight Prediction</h1>
    <label for="species">Species:</label>
    <select id="species" v-model="fishData.Species">
      <option value="-1">Select a species</option>
      <option value="0">Bream</option>
      <option value="1">Parkki</option>
      <option value="2">Pearch</option>
      <option value="3">Pike</option>
      <option value="4">Roach</option>
      <option value="5">Smelt</option>
      <option value="6">Whitefish</option>
 
    </select><br><br>
    <div>
    <label for="length1">Length 1 (cm):</label>
    <input type="number" id="length1" v-model="fishData.Length1" min="10" max="40" step="0.1" required><br><br>
    <label for="length2">Length 2 (cm):</label>
    <input type="number" id="length2" v-model="fishData.Length2" min="10" max="40" step="0.1" required><br><br>
    <label for="length3">Length 3 (cm):</label>
    <input type="number" id="length3" v-model="fishData.Length3" min="10" max="40" step="0.1" required><br><br>
    <label for="height">Height (cm):</label>
    <input type="number" id="height" v-model="fishData.Height" min="5" max="20" step="0.01" required><br><br>
    <label for="width">Width (cm):</label>
    <input type="number" id="width" v-model="fishData.Width" min="2" max="10" step="0.01" required><br><br>
    </div>
    <button @click="predictFishWeight">Predict Weight</button>  
    <div v-if="resMessage !== null" class="result">
      <h2>Predicted Weight:</h2>
      <p class="weight">{{ resMessage }} grams</p>
    </div>
  </div>
</template>


<style scoped>
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

input, select {
  margin-bottom: 16px;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result h2 {
  margin-bottom: 10px;
}

.result p.weight {
  font-size: 24px;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}
.input {
  max-width: 190px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}

.input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX-(5px);
  }
}
</style>


